CapaServicio/WebContent/wsdl/ws_comun.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://comun.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://comun.ws.com" xmlns:intf="http://comun.ws.com" xmlns:tns1="http://Comun.ent.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://comun.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Comun.ent.com"/>
   <element name="listapersona">
    <complexType/>
   </element>
   <element name="listapersonaResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listapersonaReturn" type="tns1:CMM_PersonaEnt"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Comun.ent.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CMM_PersonaEnt">
    <sequence>
     <element name="DNI" nillable="true" type="xsd:string"/>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="direccion" nillable="true" type="xsd:string"/>
     <element name="fechaNacimiento" nillable="true" type="xsd:string"/>
     <element name="idPersona" type="xsd:int"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="sexo" nillable="true" type="xsd:string"/>
     <element name="telefono" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listapersonaRequest">

      <wsdl:part element="impl:listapersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listapersonaResponse">

      <wsdl:part element="impl:listapersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ws_comun">

      <wsdl:operation name="listapersona">

         <wsdl:input message="impl:listapersonaRequest" name="listapersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:listapersonaResponse" name="listapersonaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ws_comunSoapBinding" type="impl:ws_comun">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listapersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listapersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listapersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ws_comunService">

      <wsdl:port binding="impl:ws_comunSoapBinding" name="ws_comun">

         <wsdlsoap:address location="http://localhost:8081/CapaServicio/services/ws_comun"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
