CapaServicio/WebContent/wsdl/ws_seguridad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://seguridad.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://seguridad.ws.com" xmlns:intf="http://seguridad.ws.com" xmlns:tns1="http://Seguridad.ent.com" xmlns:tns2="http://Comun.ent.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://seguridad.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Seguridad.ent.com"/>
   <import namespace="http://Comun.ent.com"/>
   <element name="verificarAccesoEntero">
    <complexType>
     <sequence>
      <element name="_Usuario" type="xsd:string"/>
      <element name="_Passsword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verificarAccesoEnteroResponse">
    <complexType>
     <sequence>
      <element name="verificarAccesoEnteroReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="verificarAcceso">
    <complexType>
     <sequence>
      <element name="_Usuario" type="xsd:string"/>
      <element name="_Passsword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verificarAccesoResponse">
    <complexType>
     <sequence>
      <element name="verificarAccesoReturn" type="tns1:SEG_UsuarioEnt"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Comun.ent.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Seguridad.ent.com"/>
   <complexType name="CMM_PersonaEnt">
    <sequence>
     <element name="DNI" nillable="true" type="xsd:string"/>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="direccion" nillable="true" type="xsd:string"/>
     <element name="fechaNacimiento" nillable="true" type="xsd:string"/>
     <element name="idPersona" type="xsd:int"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
     <element name="sexo" nillable="true" type="xsd:string"/>
     <element name="telefono" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Seguridad.ent.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Comun.ent.com"/>
   <complexType name="SEG_UsuarioEnt">
    <sequence>
     <element name="activo" nillable="true" type="xsd:boolean"/>
     <element name="idUsuario" type="xsd:int"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="persona" nillable="true" type="tns2:CMM_PersonaEnt"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="verificarAccesoEnteroRequest">

      <wsdl:part element="impl:verificarAccesoEntero" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verificarAccesoEnteroResponse">

      <wsdl:part element="impl:verificarAccesoEnteroResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verificarAccesoRequest">

      <wsdl:part element="impl:verificarAcceso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verificarAccesoResponse">

      <wsdl:part element="impl:verificarAccesoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ws_seguridad">

      <wsdl:operation name="verificarAccesoEntero">

         <wsdl:input message="impl:verificarAccesoEnteroRequest" name="verificarAccesoEnteroRequest">

       </wsdl:input>

         <wsdl:output message="impl:verificarAccesoEnteroResponse" name="verificarAccesoEnteroResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verificarAcceso">

         <wsdl:input message="impl:verificarAccesoRequest" name="verificarAccesoRequest">

       </wsdl:input>

         <wsdl:output message="impl:verificarAccesoResponse" name="verificarAccesoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ws_seguridadSoapBinding" type="impl:ws_seguridad">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="verificarAccesoEntero">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verificarAccesoEnteroRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verificarAccesoEnteroResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verificarAcceso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verificarAccesoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verificarAccesoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ws_seguridadService">

      <wsdl:port binding="impl:ws_seguridadSoapBinding" name="ws_seguridad">

         <wsdlsoap:address location="http://localhost:8081/CapaServicio/services/ws_seguridad"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
